.saved-list-head {
  display: none; }

.editing {
  background-color: #dff0d8; }

.saved-food-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 1px solid #CCC;
  padding: 3px; }

.food-select {
  line-height: 28px;
  border: 1px solid #AAA; }

.flex-cell {
  border-bottom: 1px solid #AAA;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  padding: 5px; }

.name-cell {
  font-weight: bold;
  background: #EEE;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1; }

.inline-error-msg {
  -webkit-order: -2;
  -ms-flex-order: -2;
  order: -2;
  font-weight: bold; }

.btn-cell {
  -webkit-order: 1000;
  -ms-flex-order: 1000;
  order: 1000;
  -webkit-flex: 1 50%;
  -ms-flex: 1 50%;
  flex: 1 50%; }

.flex-cell.last-cell {
  border-bottom: 0; }

.flex-cell div {
  display: inline; }

.flex-cell::before {
  content: attr(data-title);
  font-weight: bold; }

.totals {
  padding: 3px;
  border: 1px solid #CCC; }

button {
  height: 44px; }

input {
  height: 44px;
  margin: 5px; }

footer {
  margin-bottom: 20px; }

.fade-in {
  -webkit-animation: fadein 1s;
  animation: fadein 1s; }

@-webkit-keyframes fadein {
  from {
    background-color: #fcf8e3; }
  to {
    background-color: white; } }

@keyframes fadein {
  from {
    background-color: #fcf8e3; }
  to {
    background-color: white; } }

@media screen and (min-width: 992px) {
  .table-container {
    display: table; }
    .table-container footer {
      display: table-footer-group; }
      .table-container footer .totals {
        display: table-row; }
  .saved-list-head {
    display: table-header-group; }
    .saved-list-head .table-header {
      display: table-cell; }
  .saved-food-row {
    display: table-row; }
  .flex-cell {
    display: table-cell;
    border: none; }
  .name-cell {
    background: inherit; }
  .inline-error-msg {
    display: none; }
  .spacer {
    display: table-cell; }
  .saved-list-body {
    display: table-row-group; }
  .flex-cell::before {
    content: none; }
  button {
    height: auto; }
  input {
    height: auto; } }
