<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style.css">
		<title>Health/Calorie Tracker App</title>
	</head>
	<body>
		<article id="app" class="container-fluid">
			<div class="row"><h1 class="col-md-12 text-center">Health Tracking app</h1></div>
			<nav id="date-nav"><ul class="list-inline"><li class=""><a id="previous-date" href="#/previous">previous date</a></li><li class="" id="current-date">Current Date:</li><li class=""><a id="next-date" href="#/next">next date</a></li></nav>
			<section class="row" id="search-foods">
				<div id="search-form" class="col-md-4 col-sm-6 col-xs-12">
					<label>Search for a food:
						<input id="search-box" placeholder="e.g. bread" type="search">
					</label>
					<button class="button" id="search-btn">Search</button>
					<div>Powered by <a href="http://www.nutritionix.com/api">Nutritionix API</a></div>
				</div>
				<div id="food-inputs" class="col-md-4 col-sm-6 col-xs-12">
					<div><label>Choose food:</label>
					<select id="food-select" class="food-select" size="1">
					</select></div>
					<button id="choose-food">Add selected food(s) to list</button>
					<button id="add-empty">Add empty food</button>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12" id="food-info">
					<!--display food nutrition here-->
				</div>
			</section>
			<section class="main">
				<table class="saved-list table table-hover">
					<thead>
						<th>Delete</th>
						<th>Quantity</th>
						<th>Name</th>
						<th>Calories (cal/item)</th>
						<th>Carbs (g/item)</th>
						<th>Fat (g/item)</th>
						<th>Protein (g/item)</th>
					</thead>
					<tfoot id="totals">
					</tfoot>
					<tbody id="saved-list"></tbody>
				</table>
			</section>
		</article>
		<script type="text/template" id="food-template">
			<h3 class=""><%= name %></h3>
			<div class=""><b>Calories:</b> <%= calories %> cals</div>
			<div class=""><b>Carbohydrates:</b> <%= carbs %> g</div>
			<div class=""><b>Fat:</b> <%= fat %> g</div>
			<div class=""><b>Protein:</b> <%= protein %> g</div>
		</script>
		<script type="text/template" id="saved-template">
			<td><button class="btn-danger delete">x</button></td>
			<td><div class="qty"><%= quantity %></div><input class="qty-input hide" value="<%= quantity %>"></td>
			<td><div class="name"><%= name %></div><input class="name-input hide" value="<%= name %>"></td>
			<td><div class="calories"><%= calories %> cals</div><input class="calories-input hide" value="<%= calories %>"></td>
			<td><div class="carbs"><%= carbs %> g</div><input class="carbs-input hide" value="<%= carbs %>"></td>
			<td><div class="fat"><%= fat %> g</div><input class="fat-input hide" value="<%= fat %>"></td>
			<td><div class="protein"><%= protein %> g</div><input class="protein-input hide" value="<%= protein %>"></td>
		</script>
		<script type="text/template" id="total-template">
			<tr class="info">
				<td colspan="3">Totals</td>
				<td>Calories: </td>
				<td>Carbs: </td>
				<td>Fat: </td>
				<td>Protein: </td>
			</tr>
			<tr class="info">
				<td colspan="3"></td>
				<td id="total-cals"><%= calories %> cals</td>
				<td id="total-carbs"><%= carbs %> g</td>
				<td id="total-fat"><%= fat %> g</td>
				<td id="total-protein"><%= protein %> g</td>
			</tr>
		</script>
		<script src="js/lib/date.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.2/backbone-min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.0.3/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.js"></script>
		<script src="js/models/food.js"></script>
		<script src="js/models/day.js"></script>
		<script src="js/collections/availfoods.js"></script>
		<script src="js/collections/foodslist.js"></script>
		<script src="js/collections/days.js"></script>
		<script src="js/views/savedFoodView.js"></script>
		<script src="js/views/foodView.js"></script>
		<script src="js/views/searchView.js"></script>
		<script src="js/views/appView.js"></script>
		<script src="js/routers/router.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>